*{
    margin:0;
    padding:0;
}
html,body{
    box-sizing: border-box;
}
.main{
    margin-left: 35%;
    margin-top: 20%;
    height: 200px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: brown;
    color:wheat;
    /* position: absolute;
    transform: translate(-50%,-50%); */

}
.h1{
    font-weight: 900;
    font-size: 2rem;
}

